.pageStructure {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 15px 104px 15px 104px;
  justify-content: space-around;
}
.lastActivitiesBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 35px 0 0;
  justify-content: center;
  max-width: 951px;
  text-align: center;
}
.lastActivitiesBlock h3 {
  font-size: 40px;
  font-family: "Sen";
  font-weight: 700;
  color: #ffa41b;
}
.lastActivitiesBlock p {
  font-size: 32px;
  font-family: "Sen";
  color: #0b4436;
}
.userInfoBlock {
  padding: 20px 30px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 580px;
  border-radius: 38px;
  background-color: #256152;
  text-align: center;
}
.userInfoBlock span {
  font-size: 20px;
  font-family: "Sen";
  color: #ffa41b;
}

.userInfoBlock h2 {
  font-size: 28px;
  line-height: 40px;
  font-family: "Sen";
  margin: 0;
  font-weight: 800;
  color: #ffa41b;
}
.userInfoBlock > img {
  height: 25vh;
  margin: 29px 0 43px 0;
}
.userInfoBlock p {
  font-size: 24px;
  font-family: "Sen";
  color: #ffa41b;
  margin: 0 0 15px 0;
  font-style: normal;
}
